*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.welcome{
    background: url(img/background-welcome.png);
    height: 640px;
    width: 360px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login{
    height: 640px;
    width: 360px;
    position: relative;
}

h1{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 47px;
    color: #1F3361;
}

.tutorialImg{
    display: flex;
    justify-content: center;
}

.directAccess{
    color: #000;
    font-size: 14px;
}

.tittleDA{
    color: #1f3361;
    font-size: 14px;
}

.welcome-img{
    margin-top: 64px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.flex-img{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 48px;
}

.tittle-style {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 20px;
    position: relative;
    color: #1F3361;
}

h2{ /* Iniciar sesión, Registro */
    font-size: 18px;
    font-weight: 700;
}

.input-login, .input-description{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 12px;
    width: 312px;
    height: 32px;
    border: 0.5px solid #7B8794;
    box-sizing: border-box;
    border-radius: 48px;
}

select{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 7px;
    width: 312px;
    height: 32px;
    border: 0.5px solid #7B8794;
    box-sizing: border-box;
    border-radius: 48px;
    color: #7B8794;
}

option{
    border: 0.5px solid #7B8794;
    box-sizing: border-box;
    border-radius: 48px;
}

.input-name{
    margin-left: 24px;
    margin-bottom: 16px;
    padding: 12px;
    height: 32px;
    width: 144px;
    border: 0.5px solid #7B8794;
    box-sizing: border-box;
    border-radius: 48px;
}

.name-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkbox-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 39px;
    margin-bottom: 32px;
    font-size: 12px;
}

.checkbox{
    color: #4F4F4F;
    margin:5px;
}

.submit-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 143px;
    height: 42px;
    cursor: pointer;
    margin: auto;
    background: #DE7C88;
    border: 0;
    border-radius: 48px;
    color: #ffffff;
}
